.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.top-btn {
  position: fixed;
  bottom: 80px;
  right: -60px;
  /* 화면 밖 초기 위치 */
  padding: 10px 10px;
  font-size: 19px;
  background-color: #fc5daf;
  color: #fff;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  /* 슬라이드 애니메이션 */
  transition: right 0.4s ease-in-out;
}

.top-btn.slide-in {
  right: 20px;
  /* 등장 위치 */
}